<div class="container">
  <div class="result">
    <p id="result-box">{{result}}</p>
  </div>
      <div class="buttons">

      <app-botoes classe="num-button " value="AC" (click)="clear()"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="MC"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="%"></app-botoes>
      <app-botoes classe="num-button calc-action-btn" (digitou)="OnMudouValor($event)"  value="/">/</app-botoes>

      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="7"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="8"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="9"></app-botoes>
      <app-botoes classe="num-button calc-action-btn" (digitou)="OnMudouValor($event)"  value="*">*</app-botoes>

      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="4"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="5"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="6"></app-botoes>
      <app-botoes classe="num-button calc-action-btn" (digitou)="OnMudouValor($event)"  value="-">-</app-botoes>

      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="1"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="2"></app-botoes>
      <app-botoes classe="num-button " (digitou)="OnMudouValor($event)"  value="3"></app-botoes>
      <app-botoes classe="num-button calc-action-btn"  (digitou)="OnMudouValor($event)"  value="+">+</app-botoes>

      <app-botoes classe="num-button zero" class="zero" (digitou)="OnMudouValor($event)"  value="0">0</app-botoes>
      <app-botoes classe="num-button" (digitou)="OnMudouValor($event)" value="." >.</app-botoes>
      <app-botoes classe="num-button" (click)="calc()" value="=" id="total"></app-botoes>


    </div>
</div>
